* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: #1e1e1e;
}
#one{
height: 750px;
margin-top: -43px;
}
.header1 {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background: #1e1e1e; */
}

.head {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-text {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
}

nav .new {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 83px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .new span {
    display: block;
    background-color: aqua;
    margin: 5px 0px;
    width: 100%;
    height: 5px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .nav {
    list-style-type: none;
    font-size: 26px;
}

nav .nav li {
    display: inline-block;
}

nav .nav li a {
    color: #e5e5e5;
    margin-right: 2.4rem;
}

nav .nav li a:hover {
    color: darksalmon;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15rem;
}

.container .pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.pic img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 0 5px rgb(156, 103, 6),
        0 0 25px rgb(156, 103, 6), 0 0 50px rgb(156, 103, 6),
        0 0 100px rgb(156, 103, 6), 0 0 200px rgb(156, 103, 6);
}

.pic img:hover {
    transform: scale(1.8);
}

.home-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.home-content h5 {
    color: #e5e5e5;
    font-size: 20px;
}

.home-content h5 span {
    color: rgb(156, 103, 6);
    font-size: 26px;
}

.home-content h1 {
    color: rgb(156, 103, 6);
}

.home-content p {
    color: #e5e5e5;
    font-size: 20px;
}

.btn-group {
    margin: 45px 0;
}

.btn-active {
    border-color: rgb(156, 103, 6);
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(156, 103, 6);
    border-radius: 40px;
    font-size: 16px;
    color: #1e1e1e;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px rgb(156, 103, 6), 0 0 25px rgb(156, 103, 6);
    transition: 0.5s ease;
}

.btn-box:hover {
    box-shadow: 0 0 5px rgb(156, 103, 6),
        0 0 25px rgb(156, 103, 6), 0 0 50px rgb(156, 103, 6),
        0 0 100px rgb(156, 103, 6), 0 0 200px rgb(156, 103, 6);
}

.home-content .home-sci i {
    color: rgb(156, 103, 6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid rgb(156, 103, 6);
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
}

.home-content .home-sci i:hover {
    background: rgb(156, 103, 6);
    color: #1e1e1e;
    box-shadow: 0 0 20px rgb(156, 103, 6);
    transform: rotate(360deg);
}
.sub-tittle{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    color: #fff;
} 
.sub-tittle span{
    color: aqua;
}
section{
    padding-top:4vh ;
    height: 98vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
   display: flex;  
}
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section-pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.section_text{
    align-self: center;
    text-align: center;
}
.section_text p{
 font-size: 600;
}
.section-p1{
   text-align: center;
   color: #fff; 
}
.section_text_p2{
    font-size: 1.7rem;
    margin-bottom:1rem ;
}
.tittle{
    font-size: 3rem;
}
#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
gap: 1rem;
}
  
.icon{
    cursor: pointer;
    height: 2rem;
}


#about{
    position: relative;
    height: 10px;
    margin-top: 40px;
}
.about-container{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-container,.about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom:4rem;
}
.arrow{
    position: absolute;
    right: -5rem;
   bottom: 2.5rem;
}
.details-container1{
    padding: 1.5rem;
    flex: 1;
    background: wheat;
    border-radius: 2rem;
    border-color: aqua;
    text-align: center;
    background-color: rgb(174, 219, 219);
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: wheat;
    border-radius: 2rem;
    border-color: aqua;
    text-align: center;
    background-color: rgb(174, 219, 219);
}
.section-container{
    gap: 4rem;
    width: 400px;
    margin: auto 0;
}


@media (max-width: 930px) {
    nav .new {
        display: initial;
    }

    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        top: 12px;
    }

    .click span:first-child {
        transform: rotate(-85deg);
    }

    .click span:last-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child(2) {
        transform: rotate(85deg);
    }

    nav .nav {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0,5s,ease-in;
        padding: 25px 0px;
    }
  

    nav .nav li {
        display: block;
    }

 nav .nav li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
}

@media (max-width:768px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }

    .home-content {
        padding: 40px 0;
    }
}

@media screen and (max-width:1400px){
    .about-details-container{
    display: block;
    padding-top: 200px;
    }
   
}
@media screen and (max-width:768px) {
  .about-details-container{
    display: block;
    padding-top: 200px;
  }
}

#experience,
.experience-details-container{
    margin-top: 2rem;
}
#profile,
.section-container{
    display: block;
}
.arrow{
    display: none;
}
.section .section-container{
    height: fit-content;
}
.section{
    margin: 0 5%;
}
.section_pic_container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
}
.about-container{
    margin-top: 0;
}
.right{
    display: flex;
    justify-content: center;
    margin-top: 320px;
    font-size: 26px;
    color: #fff;
}

/* project page css */


.card{
    height: 300px;
    box-shadow: 0 15px 25px wheat; 
    height: 300px; 
    border-radius: 5px; 
    backdrop-filter: blur(14px); 
    background-color: white; 
}
.p1{
    position: relative;
    top: 40px; 
}
.p2{
    position: relative;
   
    top: 70px;
}
.p3{
    position: relative;
  
    top: 110px;
}